node_modules/

.env

venv/
.Venv/
env/
ENV/

__pycache__/
*.pyc
*.pyo
*.pyd

.ipynb_checkpoints/

*.log

*.sqlite3
*.db

.vscode/
.settings/

.DS_Store

# Ignore converted images directory
data/converted_images/
